*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
nav.menu{
    background-color: #343a40;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    width:0;
    height: 100%;
    overflow: hidden;
    padding-top: 60px;
    transition: 0.5s;
}
.menu a{
    text-decoration: none;
    display: block;
    font-size: 25px;
    transition: 0.3s;
    color: #c1c1c1;
    padding: 8px 32px 8px 32px;
    width: 200px;

}
.nowrap{
    width: 100px;
}
a#close_button{
    text-align: right;
    position: absolute;
    top: 0;
    right: 8%;
    font-size: 36px;
    padding: 0;
}
a#open_button{
    text-decoration: none;
    color: #000;
    position: fixed;
    z-index: 1;
    top: 1%;
    right: 1%;
    font-size: 28px;
}
#menu a:hover, a:focus, a:active{
    color: #fff;
}

/* Main content styling*/

body{
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}
main{
    display: flex;
    flex-direction: column;
    margin: 2% 2% 2% 2%;
    width: 97%;
    padding: 2% 5% 2% 2%;
}
h1{
    font-size: 24px;
    padding: 2% 5%;
    margin-bottom: 2%;
    color: #343a40;
}
p{
    padding: 2% 5%;
    text-align: justify;
    line-height: 140%;
}
ul.main_content{
    padding: 2% 2% 2% 10%;
}
h2{
    padding: 2% 5%;
    font-size: 21px;
    color: #343a40;
}
li{
    margin-top: 2%;
    margin-bottom: 2%;
}
.text_with_img{
    display: flex;
    flex-direction: column;
}
.left_side_img{
    padding-left: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 40%;
    border-radius: 50%;
}
footer{
    background-color: #343a40;
    display: flex;
    bottom: 0;
    flex-direction: column;
    width: 100%;
    margin-top: 5%;
    z-index: 3;
}
.footer_links{
    display: flex;
    margin-top: 15px;
}
.footer_links a{
    color: #c1c1c1;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    width: 33%;
    align-items: center;
    justify-content: center;
}
.footer_links a:hover, a:focus, a:active{
    color: #fff;
}
.copyright{
    font-size: 14px;
    color: #c1c1c1;
    display: flex;
    justify-content: center;
}


/* Table styling */

table{
    padding: 1% 3% 1% 3%;
}
tr td:first-child{
    width: 25%;
}
tr td:last-child{
    width: 70%;
    text-align: justify;
}

/* Large screen view */

@media screen and (min-width: 550px){
    nav.menu{
        background-color: #343a40;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 2;
        width:100%;
        height: 75px;
        overflow-x: hidden;
        padding-top: 25px;
        transition: 0.5s;
    }
    .menu a{
        text-decoration: none;
        display: inline-block;
        font-size: 25px;
        transition: 0.3s;
        color: #c1c1c1;
        padding: 0;
        text-align: center;
        width: 24%;
    }
    #open_button, #close_button{
        display: none;
    }
    h1{
        margin-top: 8%;
    }


    .text_with_img{
        display: block;
        margin-left: 3%;
        column-count: auto;
    }
    .right_side_text{
        display: inline-block;
        width: 60%;
        vertical-align: top;
    }
    .left_side_img{
        display: inline-block;
        width: 30%;
    }
    .left_side_img:nth-child(even){
        margin-top: 15px;
    }
    img{
        width: 60%;
    }

    .lg_view_2_cols{
        padding-left: 4%;
    }
    .wrap_col1{
        display: inline-block;
        width: 49%;
        vertical-align: top;
    }
    .wrap_col2{
        display: inline-block;
        width: 45%;
        vertical-align: top;
    }
    p.in2cols{
        padding-left: 2%;
    }


}
































